<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ComboHelper.HSComboHelper" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ComboHelper.HSComboHelperSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ComboHelper.HSComboHelper>
            <setting name="decks" serializeAs="String">
                <value />
            </setting>
        </ComboHelper.HSComboHelper>
        <ComboHelper.HSComboHelperSettings>
            <setting name="decks" serializeAs="String">
                <value />
            </setting>
        </ComboHelper.HSComboHelperSettings>
    </userSettings>
</configuration>